/* Styles for the filters section */
.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; /* Adjust padding as necessary */
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 70px;
}

button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    height: 48px;
    width: 20%;
    cursor: pointer;
    transition: opacity 0.3s;
}

/* Locations and Amenities common styles */
.locations, .amenities {
    position: relative;
    width: 25%;
}

.popover {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 100%;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
}

.popover_list{
    padding:0px;
    margin:0px;
    padding-left: 10%;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

/* Styles for nested lists in Locations */
.locations ul ul {
    padding-left: 20px;
}

.locations h2 {
    font-size: 16px;
    font-weight: 600;
}

/* Styles for list items */
.popover li {
    padding: 5px 10px;
}

/* Styles for sublist items to differentiate */
.popover ul li {
    font-weight: normal;
    font-size: 14px;
}

/* Borders for the first filter only */
.locations .popover {
    border-right: 1px solid #DDDDDD;
}
